<% title "Menu settimanale mensa" %>
<% if @menus %>
	<h1>Da <%=@menus.first.giorno.downcase%> a <%=@menus.last.giorno.downcase%></h1>
<% else %>
	<h1>Carica menu da PDF</h1>
<% end %>

<% if @menus %>
	<%= render :partial => "menu_giornaliero", :collection => @menus, :as => :menu %>			
<% end %>

<%= link_to 'Nuovo Menu', new_menu_path %>
