<%= content_for :head do %>
	<%#= javascript_include_tag 'jquery.scrollTo' %>    
<% end %>
<%
include_set ||= Array.new %>
<% ('A'..'Z').each do |lettera| %>
<% if include_set.include?(lettera) %>
<a class="anchor_to" href="#<%= lettera %>"><%= lettera %></a>&nbsp;<% end %>
<% end %>
