.float-left {
	float: left;
}
.float-right {
	float: right;
}
.login_form {
    color: navy;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    height: 100px;
    min-height: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

.login_form table {
    border: 0;
    height: 60%;
}

.login_form div {
    float: left;
    padding: 5px;
    height: 100%;
    min-height: 100%;
    vertical-align: middle;
}

.login_form img {
    float: left;
    padding-top: 30px;
}

.login_form div.entra {
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
    text-align: right;
    float: right;
    margin-bottom: auto;
    margin-top: auto;
}

.login_form form {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 2px solid navy;
    background-color: #67A0CF;
    height: 120px;
}

div.in_carico {
    position: relative;
    #	background-image:url(../images/burden.gif);
	#   background-repeat:no-repeat;
	#	background-position:left bottom;	
	#	background-color: #CFE0FF;
	#	border: 0px;
	height: 300px;
	width: 100%;	
}

.prendi_in_carico {
	display: inline;
	float: right;
}

div.collapsible_box_envelope_default {
	position:relative;	
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	background-color: #CFE0FF;
	border: 1px solid navy;
  border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	width: 300px;	
}

span.round_sys_btn {
	border: 1px solid navy;
	float: right;
	margin-top: 2px;
	vertical-align: top;
	text-decoration: none;
	padding-top: 0px;
	height: 12px;
	margin-right: 2px;
	color: white;
	font-weight: bold;
	font-size: 0.6em;
  border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	-webkit-border-radius: 1.2em;
}

h1 {
   font:  140% sans-serif;
   color: #507AAA;
   border-bottom: 3px dotted #77d;
}

/* Styles for meeting/index */

table {
/*  border-collapse: collapse; */
	border: 2px solid navy;
	border-collapse: collapse;
}

tr th td {
	border: 1px solid navy;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

p {
  font-size: 1em sans-serif;
}

a {
  text-decoration: none;
}

#user_info a {
  color: white;
}

a.active {
  font-weight:  bold;
}

p.menu_item {
  line-height: 0.5em;
  padding-left: 25px;
}

div.top_left_corner {
  color: navy;
  border: solid black thin;
  border-left: none;
  border-top: none;
  width: 50%;
  height: 50%;
}

#meeting-list .list-image {
  width:        60px;
  height:       70px;
}

#meeting-list .list-description {
  width:        60%;
}

#meeting-list .list-description dl {
        margin: 0;
}

#meeting-list .list-description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#meeting-list .list-description dd {
        margin: 0;
}

#meeting-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#meeting-list .list-line-even {
  background:   #e0f8f8;
}

#meeting-list .list-line-odd {
  background:   #f8b0f8;
}

/* START:mainlayout */
/* Styles for main page */

div#banner {
	text-align:left;
  background: #43619E url(/images/logo.gif) no-repeat scroll left top;
  border-bottom: 2px solid navy;
  font: 1.2em/2em "Arial", serif;
  color: #FFF;
  height: 52px;
}

div#banner img {
/*  float: left;*/
}

div#banner img.title {
/*  float: none;*/
	position: relative;
  left: 350px;
}

#main {
  background: #4B7399;
  /*font: 1.2em/2em "Arial", serif;*/
/*  width: 100%;*/
}

#user_info {
  font-size: 0.7em;
  text-decoration: none;
  font-color: #fff;
  width: 95%;
  position: absolute;
  top: 45px;
  text-align: right;
  padding-right: 20px;
}

#user_info img {
  float: right;
}

#main {
  color: #000;
	margin: 8px 10px 0
  padding-top: 1ex;
  background: white;
  height: 600px;
  overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
  line-height: 1.2em;
}

#main_head {
  float: right;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 70%;
  min-width: 350px;
}

#sidebar {
	background-color: #43619E;
  	float: left;
  	width: 30%;
	position: fixed; 
	min-height: 600px; 
  	padding-top: 1em;
  	padding-bottom: 1em;
  	max-width: 350px;
	top:68px;
}
.sidebar_bg_moz {
	background: -moz-linear-gradient( left center, rgb(67,97,158) 97%, rgb(255,255,255) 100%) left;
}
.sidebar_bg_saf {
	background: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgb(67,97,158)), color-stop(0.2, rgb	(255,255,255)))
}
.sidebar_closed {
	min-width: 0px;
}
.sidebar_opened {
	min-width: 350px;
}

#main.nosidebar #sidebar{ display: none; }
#main.nosidebar #content{ width: auto; border-right: 0; }

#content {
	padding: 6px 10px 10px 360px;
	float: inherit;
	/*min-width: 70%;
	max-width: 70%;*/
	max-height: 582px;
	min-height: 100%;
	width: 70%;
	/*left: 358px;*/
	/*position: absolute;*/
	overflow: auto;
	/*overflow-x: hidden;*/
}

#sidebar a {
 /* color: #FFb;
  font-size: medium;
  text-decoration: none;*/
}
/* END:mainlayout */

/* An entry in the store catalog */

body {
  overflow: hidden;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  color: #227;
  background-color: white/*#43619E*/;
}

#meeting  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#meeting .meeting img {
  width: 75px;
  float: left;
}


#meeting .meeting h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#meeting .meeting p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#meeting .meeting .description-line {
 clear: both;
}

#meeting .meeting .partecipate {
  position: relative;
}

#meeting .meeting  .description {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
  font-size: 0.6em;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#meeting .meeting form, #meeting .meeting form div {
  display: inline;
}

#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0 ;
  font: bold smaller sans-serif;
}

li.attending {
  list-style-image: url(images/attend.gif);
}

#footer {
  clear: both;
  border-bottom: 3px solid #43619E; 
  border-top: 3px solid #43619E; 
  font-size: 0.6em;
  color: navy; 
  padding: 5px; 
  text-align:center; 
  background:#fff;
}

.application_title {
	font: 36px/54px 'KingthingsExeterRegular', Arial, sans-serif;
	font-weight: 300;
	padding-left: 380px;
	position: fixed;
	top: 5px;
}

.application_title_on_rails {
	color: #CF8181;
	font: 27px/45px 'KingthingsExeterRegular', Arial, sans-serif;
	font-style: italic;
}

p#title {
  font: small-caps 1.2em/2em "Arial", serif;
  line-height: 0.65em;
  padding-top:0.6em;
}

.odd {
  background-color:#F6F7F8;
}

.even {
  background-color:#FFFFFF;
}

li.participant {
  font-size: 0.7em;
  list-style-image: url(../images/participant.gif);
  line-height: 1em;
}

li.organizator {
  font-size: 0.8em;
  line-height: 1em;
  list-style-image: url(../images/organizator.gif);
}

.calendar {
  padding-left: 50px;
}

.function_title {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #67A0CF;
	border: 2px solid navy;
	color: #FFF;
	font-weight: bold;
	height: 18px;
  	left: 350px;
	line-height: 1em;
	overflow:visible;
  	position: fixed;
	text-align: center;
  	top: 55px;
  	width: 400px;
  	z-index: 2;
}

.function_title_des {
	text-align: center;
  	min-width: 85%;
	width: 85%;
}

th {
	color: navy;
	background-color: #CFE0FF;
}
.todo_h_prodotto {
	
}

.todo_h_versione {
	font-size: 0.8em;
  	font-style: italic;
}

fieldset {
	background: url(../images/draft.png)
	border: 1px solid #e4e4e4; 
	margin:0;
}

legend {
	color: #484848
}

div.flash{
  padding: 1em;
  margin: 1em;
  border-width: thin;
}
div.notice{
  background-color: #EFC;
  border-color: #6CB83A;
}
.align_right{
  text-align: right;
}

#flash_messages{
  width:300px;
  height:35px;
  margin-top:10px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin:0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color:green;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
  color:red;
}

fieldset.collapsible {
	font-size:0.9em;
}
fieldset.collapsible legend {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/arrow_expanded.png) no-repeat scroll 0 40%;
	cursor:pointer;
	padding-left:16px;
}
fieldset.collapsible.collapsed legend {
	background-image:url(../images/arrow_collapsed.png);
}
fieldset.collapsible.closed legend {
	background-image:url(../images/arrow_collapsed.png);
}
.versioni_container {
	width: auto;	
}
.versioni {
	min-width: 100%;
}
.versione {
	background:#CFE0FF url(../images/arrow_collapsed.png) no-repeat top left;	
	border: none;
	cursor: move;
	min-height: 28px;
	padding-left: 12px;
	padding-right: 12px;
}
.versione.opened {
	background:#CFE0FF url(../images/arrow_expanded.png) no-repeat top left;
}

.versione_head {
	border: none;
	width: auto;
	padding-left: 10px;
}
table.versione_head th {
	font-weight: normal;
}

.gruppi_container {
	cursor: default;
}
.gruppi {
	border: none;
	border-collapse: separate;
	min-width: 100%;
}
.gruppo_head {
	border-collapse: collapse;
	height: 100%;
	border: none;
	width: 100%;
	padding-left: 10px;
}

/* IN LAVORAZIONE */
.gruppo_head_in_lavorazione th {
	background-color: #FEFFAF;
}
.gruppo_in_lavorazione {
	background: #FEFFAF url(../images/wip.gif) no-repeat 2px 2px;
	border: 2px solid #FFF15F;
	padding-left: 40px;
}

/* READY */
.gruppo_head_ready th {
	background-color: #BFFFBF;
}
.gruppo_ready {
	background: #BFFFBF url(../images/ready.png) no-repeat 2px 2px;
	border: 2px solid #329F31;
	padding-left: 40px;
}

/* WAIT */
.gruppo_head_wait th {
	background-color: #FF6F6F;
}
.gruppo_wait {
	background: #FF6F6F url(../images/waiting.png) no-repeat 2px 2px;
	border: 2px solid #F00;
	padding-left: 40px;
}

div.wip {
/*	background:#CFE0FF;*/
	border:1px solid #333;
	cursor: move;
	height:36px;
	width:100%;
	background:#CFE0FF url(../images/arrow_collapsed.png) no-repeat scroll 0 40%;
}
table.versione {
	border: 0px;
	float: right;
	font-size: 0.8em;
	margin: 0px 50px 0px 0px;
	padding: 0px;
	width: 90%;
}
table.versione th {
	font-weight:normal;
}
table.versione td {
	padding: 0px;
	text-align: center;
}

.header_versione {
	padding-left: 25px;
	font-size: 1.1em;
}
.header_versione .lavorabili .non_lavorabili {
	font-size: 0.5em;
}

table.versione tbody td.analisi_lavorabili {
	font-weight: bold;	
}

table.versione tbody td.analisi_non_lavorabili {
	font-weight: bold;	
}

table.versione tbody td.sviluppo_lavorabili {
	font-weight: bold;
}

table.versione td.sviluppo_non_lavorabili {
	font-weight: bold;
}

div.segnalazioni_container_closed {
	background-color:red;
}
div.segnalazioni_container {
	position: relative;
	left: -20px;
}
.segnalazione_details {
	background: #EFFEFF;
}
.segnalazione_bottom_spacer {
	border-bottom: 2px;
	border-left: 0px;
	border-right: 0px;
}
div#segnalazione_summary {
	font-size: 0.9em;
	line-height: 1.1em;
	background-color:#FFC;
	position: relative;
	float: left;
	overflow: hidden;
	white-space:nowrap;
	width: 180px;
}

th#segnalazione_summary {
	font-size:0.8em;
	font-weight: normal;
	line-height:0.8em;
	text-align: left;
}
div#segnalazione_descrizione {
	cursor:move;
	float: right;
}
textarea[disabled]
{
 background-color: white;
 border: navy 1px solid;
 color: #000000;
 cursor: default;
 font-family: Verdana;
 font-size: 8pt;
} 
div#versione_ore {
	float: right;
}

div.versione th.versione_nr {
	font-size:1.2em;
	text-align: left;
	top: 15px;
}

div.versione th.corrente {
	font-weight:  bold;
}

div.versione th.chiusa {
	text-decoration:line-through
}
.group_name {
	cursor: move;
	font-size:1.2em;
	text-align: left;
	top: 15px;
}
div#segnalazione_show_desc {
   	-moz-border-radius:8px;
	-webkit-border-radius: 8px;
  	background: #FFFFDD none repeat scroll 0 0;
	border: 1px solid #D7D7D7;
	margin: 5px;
	padding: 6px;
}
textarea.segnalazione_desc {
  -moz-border-radius:8px;
  -webkit-border-radius: 8px;
  background: #FFFFDD url(../images/descrizione.png) center center no-repeat; /* This ruins default border */
  border: 1px solid #D7D7D7;
  height: 10em;
  margin: 5px;
  padding: 6px;  
  width: 97%;
}
.drag {
	cursor: move;
/*	background-image:url(../images/box.png);
	background-repeat:no-repeat;
	background-position:left top; */
	height: 32px;
}
	.drop .drag h1 {
			border-bottom: 0px;
	}

div.in_carico_head {
	text-align: center;
	border-bottom: 1px solid navy;
	color: navy;
}

table.segnalazioni {
	z-index: 300;
}

table.segnalazioni tr.segnalazione_head {
	border-top: 1px solid navy;
	border-left: 1px solid navy;
	border-right: 1px solid navy;
}
table.segnalazioni tr.segnalazione_details {
	border-left: 1px solid navy;
	border-right: 1px solid navy;
	border-bottom: 1px solid navy;
}

div.collapsible_box_head_default {
	text-align: center;
	border-bottom: 1px solid navy;
	background-color: navy;
	color: white;
	height: 20px;
}

.ghost {
	position: absolute;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	background-color: #CCF;
	border-color: #AAD;
	color: #AAD;
	}
.outline {
	background-color: #FCC;
	border-color: #DAA;
	border-style: dashed;
	color: #DAA;
	}
.active {
	background-color: #CFC;
	border-color: #ADA;
	}
div.left_to_segna_desc {
	position: relative;
	float: left;
	width: 70px;
	overflow: hidden
}
div.in_carico .left_to_segna_desc {
	float: right;
}
div.segna_desc {
}
#segnalazione_show_desc h2 {
	color: #43619E;
	margin: 0.2em 0em 0.7em 0em;
}
#segnalazione_show_desc p, #segnalazione_show_desc li {
	color: #43619E;
	font-size: 0.9em;
	margin: 2px;
}
#segnalazione_show_desc ul {
	margin-top: 3px;
	margin-bottom: 3px;
	line-height: 1.1em;
}
table.segnalazioni {
	min-width: 100%;
	border: none;
}
table.segnalazioni td {
	padding: 5px;
}
table.segnalazioni th {
	border-top: 1px solid navy;
}
table.segnalazioni td.segnalazione_summary {
	padding: 5px;
	background-color:#FFC;
}
table.segnalazioni span {
	font-size: 0.8em;
	line-height: 0.8em;
}
td.range_selezionato {
	background-image:url(../images/range_sel_triangle.png);
	background-repeat:no-repeat;
	background-position:center bottom;
}
table.no-border {
	border:0px;
}
table.no-border td {
	padding: 2px 0px 2px 0px;
}

.collapse_btn {
	cursor:pointer;
}

.collapsible {
	margin: 0;
	padding: 5px;
}

span.collapse_all {
	background-image:url(../images/collapse_all_gray.gif);
	background-repeat:no-repeat;
	margin-left:20px;
	cursor: pointer;
}
span.collapse_all:hover {
	background-image:url(../images/collapse_all.gif);
	background-repeat:no-repeat;
	margin-left:20px;
	cursor: pointer;
}
span.expand_all {
	background-image:url(../images/expand_all_gray.gif);
	background-repeat:no-repeat;
	cursor: pointer;	
}
span.expand_all:hover {
	background-image:url(../images/expand_all.gif);
	background-repeat:no-repeat;
	cursor: pointer;	
}
span.sidebar_toggler {
	
}
span.hide_sidebar  {
	float: right;
	background-image:url(../images/application-sidebar-collapse.png);
	background-repeat:no-repeat;
	cursor: pointer;
}
span.show_sidebar  {
	/*float: right;*/
	position:absolute;
	left: 0px;
	background-image:url(../images/application-sidebar-expand.png);
	background-repeat:no-repeat;
	cursor: pointer;
}

.hide_btn {
	border: 0;
	cursor: pointer;
	float: right;
	margin-top: 2px;
	padding-top: 0px;
	margin-right: 2px;
}

.bubbleInfo {
    position: relative;
}


/* Bubble pop-up */
.popup {
	position: absolute;
	padding: 0px;
	line-height: 1em;
	border-spacing:0px;
	border: 0;
  display: none; /* keeps the popup hidden if no JS available */
	z-index: 50;
	border-collapse: collapse;
}

.popup td.corner {
	border: 0;
	height: 15px;
	width: 19px;
}

.popup td#topleft { padding:0; background-image: url(../images/bubble-1.png); }
.popup td.top { padding:0; background-image: url(../images/bubble-2.png); }
.popup td#topright { padding:0; background-image: url(../images/bubble-3.png); }
.popup td.left { padding:0; background-image: url(../images/bubble-4.png); }
.popup td.right { padding:0; background-image: url(../images/bubble-5.png); }
.popup td#bottomleft { padding:0; background-image: url(../images/bubble-6.png); }
.popup td.bottom { padding:0; background-image: url(../images/bubble-7.png); text-align: center;}
.popup td.bottom img { padding:0; display: block; margin: 0 auto; }
.popup td#bottomright { padding:0; background-image: url(../images/bubble-8.png); }

.popup .popup-contents {
	border: 0;
	padding:0; 
	line-height: 1em;
	background-color: #fff;
	color: #666;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

/* ENDOF Bubble */

ul#navlist
{
font: bold 11px verdana, arial, sans-serif;
list-style-type: none;
padding-bottom: 24px;
border-bottom: 1px solid #6c6;
margin: 0;
}

ul#navlist li
{
float: left;
height: 21px;
background-color: #cfc;
margin: 2px 2px 0 2px;
border: 1px solid #6c6;
}

ul#navlist li#active
{
border-bottom: 1px solid #fff;
background-color: #fff;
}

li#active a { color: #000; }

#navlist a
{
float: left;
display: block;
color: #666;
text-decoration: none;
padding: 4px;
}

.new_funzione {
	position: absolute;
	top: 10px;
	left: 400px;
	z-index: 45;
}
#navlist a:hover { background: #fff; }

a#view_mode {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
}

a#view_mode.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
}

div.kion_div {
	background: #43619E;
	padding: 0.5em 0.2em;
	vertical-align: middle;
}
.field {
	padding-right: 2em;
}

textarea.descrizione_segnalazione_todo {
	width: 100%;
}

table.segnalazioni_in_carico {
	width: 100%;
	min-width: 100%;
	border: 0;
}
.priorita_4 a {
	font-size: 0.6em;
}
.priorita_3 a {
	font-size: 0.8em;	
}
.priorita_2 a {
	font-size: 1em;
}
.priorita_1 a {
	font-size: 1.2em;
	text-decoration: underline;	
}
.gravita_4 a {
	color: #B1D606;
	text-shadow: #fff; 
}
.gravita_3 a {
	color: #DBAA00;
	text-shadow: #fff; 
}
.gravita_2 a {
	color: #F7780E;
	text-shadow: #fff; 
}
.gravita_1 a {
	color: #FF472F;
	text-shadow: #fff; 
}
tr.oddrow {
	background-color: #FFF;
}
tr.evenrow {
	background-color: #EFF9FF;
}
/* =============================== MENU =================== */
table.menu {
	border: 0px;
	width: 100%;
}
table.menu table {
	border: 0px;
	border-bottom: 1px solid gray;
}
table.menu tr {
	vertical-align: top;
}
table.menu table th {
	background-color: #fff;
}

table.primi th.primi_head {
	background-color: red;
	color: white;
 	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
}

table.secondi th.secondi_head {
	background-color: #23B4BF;
	color: white;
 	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
}

table.contorni th.contorni_head {
	background-color: #1A8F1F;
	color: white;
 	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
}
/* =============================== RUBRICA ================= */
table.rubrica thead {
	position: fixed;
}
table.rubrica tbody {
}

/* DOCK MENU */
#description {margin-left:40px; width:500px;}
#menu {position:absolute; bottom:15%; left:100%; margin-left:-48px; display:none;}
#menu div.jqDock {cursor:pointer;}
div.jqDockLabel {font-weight:bold; font-style:italic; white-space:nowrap; color:#000; cursor:pointer;}

/* ================================ NOTE ================ */
.postit{
	background: transparent url(../images/postit.png) no-repeat;
    background-size: 100%;
	font: 12px/18px 'NotethisRegular', Arial, sans-serif;
	text-decoration: none;
}
.dim{
	width:300px;
	height:300px;
}

.innerPostit{
	height:300px;
	padding: 20px;
	width:280px;
}
