div.wmd-preview {
  -moz-border-radius:8px;
  -webkit-border-radius: 8px;
  background-color: #FFFFDD;
  border: 1px solid #D7D7D7;
  height: 100%;
  margin: 5px;
  overflow-y: auto;
  padding: 6px;  
  width: 97%;
  line-height:130%;
}

.anteprima {
	background-image: url(../images/anteprima.png); /* This ruins default border */
	background-position: center;
	background-repeat: no-repeat;
}

div.grippie {
	background:#EEEEEE url(/images/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	order-style:solid;
	border-width:0 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}
