<style>
	h1 {
	   font:  140% sans-serif;
	   color: #507AAA;
	   border-bottom: 3px dotted #77d;
	}
	h1 a {
		color: #507AAA;
		text-decoration: none;
	}
	h2 {
	   font:  110% sans-serif;
	   color: #507AAA;
	}
	.descrizione {
		-moz-border-radius:8px 8px 8px 8px;
		background: #FFFFDD;
		border:1px solid #D7D7D7;
		line-height:130%;
		margin:5px;
		padding:6px;
		width:97%;
	}
	.diffdel, del.diffmod {
		color: #5F5F5F;
		text-decoration: line-through;
	}
	.diffins, ins.diffmod {
		background-color: #B6EFB3;
		text-decoration: none;
	}
</style>

<h1><%= @segnalazione.tipo %> n.<b><%= link_to(@segnalazione.prg_segna.to_s, segnalazione_url(@segnalazione)) %></b> </h1>
<h2>Cambio descrizione</h2>
<p><b><%= @user.user_name%></b> ha appena cambiato la descrizione della segnalazione:</p>
<div class="descrizione">
	<%= raw(diff(@descrizione_vecchia.to_html, @descrizione_nuova.to_html)) %>
</div>