<div class="segna_desc">
    <% if @segnalazione.prg_segna %>
    <h1>GS <b><%= @segnalazione.prg_segna %></b> del <%= @segnalazione.dtm_creaz %></h1>
    <% else %>
    <h1>Nuova GS</h1>
    <% end %>
</div>