<div class="drop in_carico">
    <% if @in_carico %>
    <table class="segnalazioni_in_carico">
        <% @in_carico.in_groups_of(3, nil) do |segnalazioni| %>
        <tr>
            <% segnalazioni.each do |segnalazione| %>
           	<% if segnalazione %>
	            <td>
                    <%= render :partial => "segnalazioni/segnalazione_in_carico", :object => segnalazione, :as => :segnalazione %>
	            </td>
				<% else %>
					<td class="void"></td>
				<% end %>
	        <% end %>
	    </tr>
	    <% end %>
	</table>
	<% end %>
</div>
