<div class="drop in_carico">
    <% if @in_carico %>
    <table class="segnalazioni_in_carico">
        <% @in_carico.in_groups_of(3, false) do |segnalazioni| %>
        <tr>
            <% segnalazioni.each do |segnalazione| %>
            <td>
                <b><span class="priorita_<%= segnalazione.cdn_priorita.to_i if segnalazione.cdn_priorita %> gravita_<%= segnalazione.cdn_gravita if segnalazione.cdn_gravita %>"><%= link_to segnalazione.prg_segna, :action => 'show', :controller => 'segnalazioni', :id => segnalazione.prg_segna %>
				</span></b>
            </td>
            <% end %>
        </tr>
        <% end %>
    </table>
    <% end %>
</div>
