<b><span class="priorita_<%= segnalazione.cdn_priorita.to_i if segnalazione.cdn_priorita %> gravita_<%= segnalazione.cdn_gravita if segnalazione.cdn_gravita %>"><%= link_to segnalazione.prg_segna, :action => 'show', :controller => 'segnalazioni', :id => segnalazione.prg_segna %>
</span></b>