<%= content_for :head do %>
<%= javascript_include_tag 'jquery.scrollTo-min' %>
<script type="text/javascript">
    function goToByScroll(idver){
        if (idver == null) {
            idver = '';
        }
        $('html,body').animate({
            scrollTop: $("#" + idver).offset().top
        }, 'slow');
    }
</script>
<% end %>
<%
version_set ||= Array.new %>
<ul>
    <% version_set.each do |version| %>
    <li>
        <a class="anchor_to" href="javascript:void(0)" onClick="goToByScroll('<%= version.id %>')"><%= version.cda_versione %>
        </a>
    </li>
    <% end %>
</ul>
