<% versioni = prodotto.pop.group_by(&:cda_versione_pian) %>
<fieldset class="collapsible">
	<legend class="trigger">
		<%=prodotto.first %> (<%= pluralize(versioni.inject(0){|sum, n| sum + n[1].size}, 'segnalazione') if versioni %> in <%= pluralize(versioni.size, 'versione')  if versioni %>)
	</legend>
	<div class="toggle_container">
		<%= render :partial => "versione_pian2", :collection => versioni, :as => :versione %>
	</div>
</fieldset>
