<% if prodotto and prodotto[1] %>
	<% versioni = prodotto[1].group_by(&:versione_pianificata).sort %>
<% end %>
<fieldset class="collapsible help-context" helpId="prodotto.fieldset">
	<% if prodotto %>
	
		<legend class="trigger">
			<%=prodotto.first %> (<%= pluralize(versioni.inject(0){|sum, n| sum + n[1].size}, 'segnalazione') if versioni %> in <%= pluralize(versioni.size, 'versione')  if versioni %>)
		</legend>
		<div class="versioni_container help-context" helpId="versioni.container">
			<table class="versioni">
				<%= render :partial => "versione_pian", :collection => versioni, :as => :versione, :locals => {:prodotto => prodotto.first} %>			
			</table>
		</div>
	<% else %>
		<p>Nessuna segnalazione da mostrare</p>
	<% end %>	
</fieldset>
