<% if @statistica.num_segna > 0 %>

	<table border="0" style="width: 290px;">		
		<tr>
			<td># segnalazioni:</td>
			<td id="num_segna"><b><%= @statistica.num_segna %></b></td>
		</tr>
		<tr>
			<td>Totale ore:</td>
			<td><b><%= @statistica.tot_ore %></b></td>
		</tr>
	</table>

<% else %>
	<i>Non sono presenti segnalazioni nell'ultimo mese.</i>
<% end %>

