<span>Modalit&agrave; di visualizzazione: </span>
<%= render :partial => 'widgets/split_button', :locals => { :title => "Visualizzazione", :menu_items => [{:title => 'Normale', :icon => 'normal_view.png'}, {:title => 'Compatta', :icon => 'compact_view.png'}] } %>
